html {
  font-family: 'Roboto Mono', monospace;
}

.img1,
.img2,
.img3,
.img4 {
  position: relative;
  opacity: 1;
}

.img1 p,
.img2 p,
.img3 p,
.img4 p {
  display: none;
  position: absolute;
  bottom: 5em;
  left: 5em;
}

.img1:hover p {
  display: inline-block;
}

.img2:hover p {
  display: inline-block;
}

.img3:hover p {
  display: inline-block;
}

.img4:hover p {
  display: inline-block;
}

.img1:hover img,
.img2:hover img,
.img3:hover img,
.img4:hover img {
  opacity: .5;
}

footer {
  background-color: #c4c4c4;
}

a {
  color: black;
}

.hero-banner {
  background-image: url("../images/blackboard_06.jpg");
  background-repeat: no-repeat;
  height: 600px;
  background-position: center;
  background-size: cover;
  color: white;
}

.hero-banner-branding {
  background-image: url("../images/banner_branding.jpg");
  background-repeat: no-repeat;
  height: 600px;
  background-position: center;
  background-size: cover;
  color: white;
}

.hero-banner-campaign {
  background-image: url("../images/banner_campaign.jpg");
  background-repeat: no-repeat;
  height: 600px;
  background-position: center;
  background-size: cover;
  color: white;
}

.hero-banner-illustrations {
  background-image: url("../images/banner_illustrations.jpg");
  background-repeat: no-repeat;
  height: 600px;
  background-position: center;
  background-size: cover;
  color: white;
}

.hero-banner-posters {
  background-image: url("../images/banner_posters.jpg");
  background-repeat: no-repeat;
  height: 600px;
  background-position: center;
  background-size: cover;
  color: white;
}

.logo {
  text-align: center;
}

@media only screen and (min-width: 20em) {

  .hide-1 div:first-child {
    display: inline-block;
  }

  .hide-1 p {
    display: none;
  }

  .hide-2 p {
    display: inline-block;
  }

  .hide-2 div:first-child {
    display: none;
  }

  .hero-banner {
    height: 300px;
}

  .hero-banner-branding {
    height: 300px;
  }

  .hero-banner-illustrations {
    height: 300px;
  }

  .hero-banner-posters {
    height: 300px;
  }
}

@media only screen and (min-width: 36em) {

  .hide-1 div:first-child {
    display: none;
  }

  .hide-1 p {
    display: inline-block;
  }

  .hide-2 p {
    display: none;
  }

  .hide-2 div:first-child {
    display: inline-block;
  }

  .hero-banner{
    height: 500px;
  }

  .hero-banner-branding {
    height: 500px;
  }

  .hero-banner-illustrations {
    height: 500px;
  }

  .hero-banner-posters {
    height: 500px;
  }

  .logo {
    text-align: left;
  }
}

@media only screen and (min-width: 60em) {

  .hero-banner {
    height: 600px;
  }

  .hero-banner-branding {
    height: 600px;
  }

  .hero-banner-illustrations {
    height: 600px;
  }

  .hero-banner-posters {
    height: 600px;
  }
}
