<section itemscope itemtype="https://schema.org/CreativeWork">

<div>
  <div class="embed embed-3by1">
    <img itemprop="image" class="embed-item img-flex" src="{{page.bannerImage}}" alt="{{page.altAttribute1}}">
  </div>
  <h2 itemprop="alternativeHeadline" class="heading absolute pin-c exa">{{page.heading}}</h2>
</div>


  <div class="grid island-2 grid-middle">
    <!-- Image -->
    <div class="unit xs-1 s-1 l-1-2 gutter push">
        <div class="embed embed-1by1">
          <img itemprop="image" class="embed-item img-flex" src="{{page.image1}}" alt="{{page.altAttribute2}}">
        </div>
    </div>

    <!-- Text-2 -->
    <div class="unit xs-1 s-1 l-1-2 gutter push">
      <p itemprop="description" class="kilo">{{page.text1}}</p>
    </div>

    <!-- Text & Image-->
    <div class="unit xs-1 s-1 l-1-2 gutter push">
      <div class="hide-1">
        <!-- Image -->
        <div class="embed embed-1by1">
          <img itemprop="image" class="embed-item img-flex" src="{{page.image2}}" alt="{{page.altAttribute3}}">
        </div>
        <!-- Text -->
        <p itemprop="description" class="kilo">{{page.text2}}</p>
      </div>
    </div>

    <!-- Text & Image-->
    <div class="unit xs-1 s-1 l-1-2 gutter push">
      <div class="hide-2">
        <!-- Image -->
        <div class="embed embed-1by1">
          <img itemprop="image" class="embed-item img-flex" src="{{page.image2}}" alt="{{page.altAttribute3}}">
        </div>
        <!-- Text -->
        <p itemprop="description" class="kilo">{{page.text2}}</p>
      </div>
    </div>

    <div class="embed embed-3by2">
      <img itemprop="image" class="embed-item img-flex" src="{{page.image3}}" alt="{{page.altAttribute4}}">
    </div>

    <div class="embed embed-3by2">
      <img itemprop="image" class="embed-item img-flex" src="{{page.image4}}" alt="{{page.altAttribute5}}">
    </div>

    <div class="embed embed-3by2">
      <img itemprop="image" class="embed-item img-flex" src="{{page.image5}}" alt="{{page.altAttribute6}}">
    </div>

  </div>
</section>
